@import 'styles/colors';

.container {
    border: 1px solid $mercury;
    border-radius: 5px;
    padding: 10px;
    display: flex;
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 40px;
    font-size: 14px;

    &:nth-child(1) {
        width: 40px;
    }
    &:nth-child(2) {
        width: 175px;
        margin-left: 10px;
    }
    &:nth-child(3) {
        width: 112px;
    }
    &:nth-child(4) {
        width: 111px;
    }
    &:nth-child(5) {
        width: 82px;
    }
    &:nth-child(6) {
        width: 120px;
        margin-right: 20px;
    }
    &:nth-child(7) {
        width: 80px;
    }

    .name {
        color: $nobel;
        margin-bottom: 4px;
    }
    .value {
        color: $codGrey;
    }
}
